In [12]:
import pyterrier as pt
import os

if not pt.started():
  pt.init()

In [13]:
# t1 dataset
dataset_path_t1 = "data/publish/English/Documents/Trec/"
query_path_t1 = "data/publish/English/Queries/train.trec"
qrels_path_t1 = "data/publish/French/Qrels/train.txt"

index_path_t1 = "./index_t1"

## Create Index

In [10]:
!rm -rf ./index_t1
indexer = pt.TRECCollectionIndexer(index_path_t1, blocks=True, verbose=True)

In [ ]:
doc_paths_t1 = [os.path.join(dataset_path_t1, path) for path in os.listdir(dataset_path_t1)]

indexref_t1 = indexer.index(doc_paths_t1)

In [ ]:
index_t1 = pt.IndexFactory.of(index_path_t1)
print(index_t1.getCollectionStatistics().toString())

## Load Index

In [14]:
index_t1 = pt.IndexFactory.of(index_path_t1)

## Load Queries

In [15]:
topics_t1 = pt.io.read_topics(query_path_t1)
topics_t1.head(5)

         qid                 query
0  q06223196           car shelter
1    q062228               airport
2    q062287  antivirus comparison
3  q06223261        free antivirus
4    q062291      orange antivirus

## Load Qrels

In [16]:
qrels_t1 = pt.io.read_qrels(qrels_path_t1)

## Retrieval

In [17]:
TF_IDF_t1 = pt.BatchRetrieve(index_t1, wmodel="TF_IDF")
BM25_t1 = pt.BatchRetrieve(index_t1, wmodel="BM25")
PL2_t1 = pt.BatchRetrieve(index_t1, wmodel="PL2")

In [18]:
pt.Experiment(
    [TF_IDF_t1, BM25_t1, PL2_t1],
    topics_t1,
    qrels_t1,
    ['map', 'ndcg'],
    round=4)

         name     map    ndcg
0  BR(TF_IDF)  0.1467  0.2907
1    BR(BM25)  0.1452  0.2884
2     BR(PL2)  0.1408  0.2884